//color
// $primary: ;
// $secondary: ;
// $coloText: ;
// $border: ;
// $radius: ;
// $radiusSmall: ;
// $linkFont: ;
$light: #fff;
$dark: #000;

//----fonts
$ff: 'Roboto';

//----resp
$desktop: 1320px;
$tablet: 1023px;
$phone: 767px;
$phoneS: 374px;

// $afterPhoneS = 'screen and (max-width: 575px)';
// $beforePhone = 'screen and (min-width: 768px)';
