extends ../layouts/default.pug

block variables
	- const pagetitle = "Список страниц";

block content
	.start-nav__container
		div.pagelist
			a(href="/manual.html") Manual
			a(href="/main.html") Главная страница
